<nav class = "navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">


  <a class = "navbar-brand" href ="#">Recipe Book</a>



      <ul class ="navbar-nav collapse navbar-collapse mr-auto">
        <li routerLinkActive="active" class = "nav-item"><a routerLink="/recipes"  class ="nav-link btn"> Recipes</a></li>
        <li routerLinkActive="active" class = "nav-item"><a [routerLink] = "['/shopping-list']" class ="nav-link btn" > Shopping List</a></li>
        <li class="nav-item dropdown ml-auto pr-5" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" role="button" id = "navbarDropdown" data-toggle="dropdown" data-display ="static" aria-haspopup="true" aria-expanded="false">Dropdown </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="cursor: pointer" (click) = "onSaveData()" >Save Data</a>
            <a class="dropdown-item" style="cursor: pointer" (click) = "onFetchRecipes()">Fetch Data</a>
          </div>
      </ul>



</nav>
