#right{ background-color: #343a40;
height: 40vh;
color: whitesmoke;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5%;
  box-shadow: 2px 2px 8px 1px #1D1C1E;

}

::-webkit-scrollbar {
width: 6px;
}

::-webkit-scrollbar-track{
background: #1D1C1E;
}

::-webkit-scrollbar-thumb {
background: #FFFADD;
}

div {
  border-radius: 20px;
}
